{% extends "base_template/universal-panel.html.twig" %}
{% block title %}Dashboard{% endblock %}
{% block mainBody %}
<p>
    Dashboard del usuario<br />
    Hola {{ user.username }}<br />
</p>
{% endblock %}