<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zona pública</title>
</head>
<body>
    Zona pública<br />
    <a href="{{ path('login') }}">Iniciar sesión</a><br />
    <a href="{{ path('registration') }}">Registrarse</a>
</body>
</html>