{% if espacio is defined %}

    {% if espacio == 'enHead' %}

        

    {% elseif espacio == 'cabecera' %}
       
    
    {% elseif espacio == 'primerLateralIzquierdoPortada' %}

       
       
    {% elseif espacio == 'primerLateralDerechoPortada' %}

       

    {% elseif espacio == 'pieLateralIzquierdo' %}

        <div class="contenedorBlancoBordesRedondeadosConPadding">
            <div class="col-12 text-center">
            <h4 class="titularSidebar">Sugerencias FUTBOLME</h4>

            

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/lubricante.html.twig' %}
            {% include 'publicidad/codigos/amazon/la-ultima-cripta.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/brochas-maquillaje.html.twig' %}        
            {% include 'publicidad/codigos/amazon/toallitas-bebe.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/todo-mafalda.html.twig' %}
            {% include 'publicidad/codigos/amazon/whisky.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/hp-elitebox.html.twig' %}        
            {% include 'publicidad/codigos/amazon/cama-perros.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/colonia.html.twig' %}
            {% include 'publicidad/codigos/amazon/maquinilla.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/silla-paseo.html.twig' %}        
            {% include 'publicidad/codigos/amazon/comida-perros.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/oral-b.html.twig' %}
            {% include 'publicidad/codigos/amazon/vaporizador-facial.html.twig' %}
            </div>
            
            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/galaxy-a71.html.twig' %}        
            {% include 'publicidad/codigos/amazon/dodot.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/braun-recortadora.html.twig' %}
            {% include 'publicidad/codigos/amazon/remington-plancha-pelo.html.twig' %}
            </div>
            
            </div>
        </div>

    {% elseif espacio == 'pieLateralDerecho' %}



        <div class="contenedorBlancoBordesRedondeadosConPadding" style="width:100%">
            <div class="col-12 text-center">
            <h4 class="titularSidebar">Sugerencias FUTBOLME</h4>

            

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/lubricante.html.twig' %}
            {% include 'publicidad/codigos/amazon/la-ultima-cripta.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/brochas-maquillaje.html.twig' %}        
            {% include 'publicidad/codigos/amazon/toallitas-bebe.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/todo-mafalda.html.twig' %}
            {% include 'publicidad/codigos/amazon/whisky.html.twig' %}
            </div>
            
            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/hp-elitebox.html.twig' %}        
            {% include 'publicidad/codigos/amazon/cama-perros.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/colonia.html.twig' %}
            {% include 'publicidad/codigos/amazon/maquinilla.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/silla-paseo.html.twig' %}        
            {% include 'publicidad/codigos/amazon/comida-perros.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/oral-b.html.twig' %}
            {% include 'publicidad/codigos/amazon/vaporizador-facial.html.twig' %}
            </div>
            
            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/galaxy-a71.html.twig' %}        
            {% include 'publicidad/codigos/amazon/dodot.html.twig' %}
            </div>

            <div class="contenedorBlancoBordesRedondeadosConPadding">
            {% include 'publicidad/codigos/amazon/braun-recortadora.html.twig' %}
            {% include 'publicidad/codigos/amazon/remington-plancha-pelo.html.twig' %}
            </div>
            
            </div>
        </div>


    {% elseif espacio == 'pie' %}
   
        
     
    {% endif %}


{% endif %}