/* INICIO GENERAL */
body {
    font-family: 'Roboto', sans-serif !important;
    padding-top: 75px !important;
    background: #ffffff;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}

h1 {
    font-family: Dosis;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h2.subtitulo {
    font-family: Dosis;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

h3.subtitulo {
    font-family: Dosis;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    margin: 0px;
}

.subtitulo {
    font-family: Dosis;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    margin: 0px;
}

#contenedorGlobal {
    margin-top: 50px;
    /*max-width: 1230px;*/
    max-width: 1470px;
}

@media screen and (max-width: 768px) {
    #contenedorGlobal {
        margin-top: 40px;
    }
}

.contenedorSeccion {
    background: none;
}

#leydecookies {
    width: 100%;
    z-index: 10000000;
    background-color: #fff;
    font-size: 12px;
    position: fixed;
    bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    text-align: center;
    border-top: 1px #000 solid;
}

/* FIN GENERAL */

/* INICIO MENU */
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

#campoBusquedaEquipos, #campoBusquedaEquiposMobile, #campoBusquedaJugadores, #campoBusquedaJugadoresMobile {
    height: 26px !important;
    width: 200px !important;
    margin-top: 10px !important;
    border: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 14px;
}
#campoBusquedaEquipos::placeholder, #campoBusquedaEquiposMobile::placeholder, #campoBusquedaJugadores::placeholder, #campoBusquedaJugadoresMobile::placeholder {
    font-size: 14px;
}

#campoBusquedaEquiposMobile, #campoBusquedaJugadoresMobile {
    margin-top: 0px !important;
}

#FinderAntViewMode #list-button, #FinderAntViewMode #grid-button {
    display: none;
}
#finderAntMainLayer #finderAntResultsContainer .txt-content div.description {
    height: 16px !important;
}
#finderAntMainLayer #finderAntResultsContainer .txt-content {
    position: static !important;
    width: 259px !important;
    float: left !important;
    overflow: hidden !important;
    margin-left: 10px !important;
}
#finderAntMainLayer .categoria {
    font-style: italic;
}
#finderAntMainLayer .torneos .enlace-torneo {
    display: inline-block;
    width: 100%;
    word-break: break-all;
}

#finderAntResultsContainerMobile .enlace-torneo {
    color: #8AE813 !important;
}

#finderAntMainLayerMobile .torneos a {
    color: #337ab7 !important;
}

#finderAntMainLayerMobile .separador hr {
    border-top: 1px solid #777 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

#finderAntMainLayerMobile .txt-content div.description {
    height: auto !important;
    overflow: hidden !important;
}


#finderAntMainLayer .separador hr {
    border-top: 1px solid #777 !important;
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

#finderAntMainLayer #finderAntResultsContainer .txt-content h1 {
    height: 24px !important;
}
#finderAntMainLayer #finderAntResultsContainer .txt-content div.description {
    height: 20px !important;
}
#finderAntMainLayer #finderAntResultsContainer .item-product-individual .enlace-torneo {
    color: #333 !important;
}

#finderAntMainLayerMobile .txt-content h1 {
    height: 24px !important;
}

#contenedorMenuSuperior {
    position:fixed;
    width:100%;
    z-index: 10000000;
    top: 0px;
}

#menuTop {
    width:100%;
    height: 60px;
    left:0;
    top:0;
    z-index:999;
    background: #025325;
    /* background: linear-gradient(90deg, #008036 50%, #2F2F2F 50%); */
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#menuTop .navbar-brand {
    color: #FFFFFF;
    font-weight: 500;
}
#menuTop .navbar-toggler {
    border: none;
}
#menuTopInferior {
    width: 100%;
    background: #085f00;
}
#menuTopContenido {
    /* height: 44px; */
    background: #025325;
    /* margin: 0 auto;
    max-width: 1340px;
    min-width: 315px; */
}
#ulMenuIz {
   /*  float: left;
    width: auto;
    margin: 0px; */
}
    #liLogoFutbolme {
        padding: 0px;
    }
        #liLogoFutbolme > a {
            margin: 0px;
            padding: 0px;
        }

        #liLogoFutbolme {
            margin-left: -3px;
        }

        #liLogoFutbolme > a {
            border: 0px;
            margin-left: -1px;
        }

            #liLogoFutbolme > a img {

            }

#ulMenuDe {
    float: right;
    width: auto;
    margin: 0px;
}
#ulMenuDe li {
    float: left;
    height: 44px;
    width: 30px;
    list-style: none;
    bottom: 0px;
}
#ulMenuDe li a {
    float: left;
    height: 44px;
    width: 100%;
}
#ulMenuDe li a img {
    position: absolute;
    bottom: 18px;
    margin-left: 7px;
}
    #ulMenuDe #liIconoUsuario {
        width: 57px;
    }
    #ulMenuDe #liIconoUsuario div {
        position: relative;
        left: 23px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: #8AE813;
        top: 14px;
    }
#ulMenuDe li a:hover {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
#menuBottom {
    position: fixed;
    background: #FFFFFF;
    -moz-box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.05);
    box-shadow: 0px 0px 44px rgba(0, 0, 0, 0.05);
}
    #menuBottom ul {
        display: inline-block;
        margin-right: 20px;
    }

    #menuBottom ul li {
        float: left;
        list-style: none;
        height: 44px;
        line-height: 44px;
        font-size: 14px;
        margin-right: 5px;
        margin-top: 2px;
    }
        #menuBottom ul li a {
            float: left;
            border: none;
            width: 100%;
            height: 100%;
            padding: 0px 10px;
            text-transform: none !important;
            font-size: 12px;
            color: #000000;
            text-decoration: none;
        }

        #menuBottom ul li a:hover {
            -moz-box-shadow: none;
            -webkit-box-shadow: none;
            box-shadow: none;
        }

        #menuBottom ul li#liContactoMenu {
        }

            #menuBottom ul li a#enlaceContactoMenu {
                font-weight: 500;
                color: #252525;
            }

            #menuBottom ul li a#enlaceSegundaBMenu {
                font-weight: 500;
                color: #000000;
            }

            #menuBottom .fondoContactoMenu {
                position: relative;
                top: 7px;
                width: 100%;
                height: 30px;
                background: #ECECEC;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                z-index: -1;
            }

    #menuBottom ul li.torneosPrincipales {
        color: #252525;
    }

    #menuBottom ul li.torneosSecundarios {
        color: #252525;
        opacity: 0.5;
    }


.menuDesplegable {
    overflow: auto;
    max-height: 80%;
}

#menuPrimeraRFEF,#menuSegundaRFEF,#menupromocion2RFEF,#menuTerceraRFEF,#menuSegundaB, #menuTercera, #menuPromo, #menuAutonomica, #menuTorneos, #menuEuropa, #menuJuvenil, #menuFemenino, #menuFutbolSala {
    display: none;
    position: fixed;
    top: 81px;
    left: 0px;
    z-index: 10000001;
    width: 100%;
    min-height: 300px;
    background: #404040;
    padding-top: 30px;
    background: linear-gradient(180deg, #6A6A6A 0%, #40404000 100%), #404040;
}

    .menuTorneosTituloListado {
        color: #EBEBEB ;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        margin-bottom: 12px;
    }

    .menuTorneosUL {
        padding: 0px;
    }

        .menuTorneosUL li {
            list-style: none;
            margin-bottom: -5px;
        }

            .menuTorneosUL li a {
                float: left;
                width: 100%;
                box-sizing: border-box;
                color: #AFAFAF;
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 13px;
                padding: 5px 0px;
            }

.flechaTorneos {
    display: none;
    position: relative;
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000000;
    /*top: 100%;*/
    top: 7px;
    transform: translateY(-100%);
}

@media screen and (max-width: 600px) {
    .pushNav {
        width: 75%;
        right: -75%;
    }
}
@media screen and (min-width: 601px) {
    .pushNav {
        width: 350px;
        right: -350px;
    }
}
ul.pushNav {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.pushNav {
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: 100;
    overflow: auto;
    background: #2e2f35;
    -webkit-transition: ease-in-out 0.5s;
    transition: ease-in-out 0.5s;
}
.pushNav hr {
    border: 1px solid #555;
}

.pushNav, .pushNav a {
    font-size: 14px;
    font-family:Roboto, sans-serif;
    color: #fff;
    text-decoration: none;
}

.pushNavIsOpen {
    overflow: auto;
    height: 100%;
}

.js-topPushNav.isOpen, .pushNav_level.isOpen {
    right: 0;
}

.closeLevel, .openLevel {
    cursor: pointer;
}

.openLevel, .closeLevel, .pushNav a {
    padding: 10px 0px;
    display: block;
    text-indent: 20px;
    -webkit-transition: background 0.4s ease-in-out;
    transition: background 0.4s ease-in-out;
}
.openLevel:hover, .closeLevel:hover, .pushNav a:hover {
    background: #494a50;
}
.pushNav a i.comunidad {
    margin-left: 10px;
    margin-right: -10px;
}



.hdg {
    background-color: #1e1e24;
}

.closeLevel, closelevel > i {
    font-size: 1em;
    color: #a5a5a4;
}

.burger {
    position: absolute;
    top: 24px;
    right: 48px;
}
.burger i {
    font-size: 3em;
}

.screen {
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 0;
    top: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
}

.pushNavIsOpen .screen {
    height: 100%;
    opacity: 1;
}

.wrapper {
    max-width: 625px;
    margin: 120px auto;
    padding: 0 20px;
    color: #fff;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.1em;
    line-height: 1.4em;
}
.wrapper a {
    color: #20c270;
    text-decoration: none;
}
.wrapper button {
    background-color: #20c270;
    margin: 50px auto;
    display: block;
    padding: 10px 40px;
    border: none;
}
.wrapper button:hover {
    background-color: #18a960;
}
.wrapper button a {
    color: #fff;
    font-size: 2em;
}

#hamburgerMenu {
    margin-right: 20px;
    margin-top: 7px;
}




/* FIN MENU */

/* INICIO INFORMACIÓN A LA ULTIMA */

.contenedorBlancoBordesRedondeados {
    background: #FFFFFF;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}
.contenedorBlancoBordesRedondeadosConPadding {
    background: #FFFFFF;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    -moz-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#ultimosEventos {
    padding: 0px;
}
#ultimosEventos .titularSidebar  {
    padding: 10px 0px 0px 20px;
}

.titularSidebar {
    font-family: Dosis;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: #434343;
}
.titularContenido {
    font-family: Dosis;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    text-transform: uppercase;
    color: #434343;
}
.titularContenidoPeque {
    font-family: Dosis;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-transform: uppercase;
    color: #434343;
}
.cajaPartidoInformacionALaUltima {
    border-top: 1px solid #E9E9E9;
    padding: 12px 20px;
}
    .cajaPartidoInformacionALaUltima .hora {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: #B9BBBE;
    }

    .cajaPartidoInformacionALaUltima .estado {
        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-weight: bold;
        font-size: 12px;
        line-height: 14px;
        color: #7bdb00;
        text-transform: uppercase;
    }


    .cajaPartidoInformacionALaUltima .contenedorNombreTorneo .nombreTorneo {
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        text-transform: capitalize;
        color: #434343;
    }

    .cajaPartidoInformacionALaUltima .equiposPartido {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-transform: capitalize;
        color: #434343;
    }

    .cajaPartidoInformacionALaUltima .contenedorResultadoYEnlacePartido {
        display: inline-block;
    }

    .cajaPartidoInformacionALaUltima .resultado {
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 16px;
        text-transform: capitalize;
        color: #434343;
        background: #E8E8E8;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        display: inline-block;
        padding: 4px;
    }

    .cajaPartidoInformacionALaUltima .enlacePartido {
        background: #626262;
        width: 24px;
        height: 24px;
        line-height: 24px;
        display: inline-block;
        text-align: center;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
    }

    .cajaPartidoInformacionALaUltima .evento {
        font-size: 14px;
    }



.cajaPartidoInformacionALaUltima.cajaEnJuego {
    -moz-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    background: #6A6A6A;
    background: linear-gradient(180deg, #6A6A6A 0%, rgba(64, 64, 64, 0) 100%), #404040;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#6A6A6A",endColorstr="#404040",GradientType=1);
}

.cajaPartidoInformacionALaUltima.cajaEnJuego .nombreTorneo {
    color: #FFFFFF;
}

.cajaPartidoInformacionALaUltima.cajaEnJuego .equiposPartido {
    color: #FFFFFF;
}
.cajaPartidoInformacionALaUltima.cajaEnJuego .evento {
    color: #FFFFFF;
}

/* FIN INFORMACIÓN A LA ULTIMA */


/* INCIO LIVESCORE */
#contenedorSubCabeceraLivescore {
    float: left;
    width: 100%;
    padding: 0px;
    /* margin-bottom: 20px; */
}

#contenedorLiveScore {
    font-family: Dosis;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: table;
    width: 100%;
    /*border-collapse:separate;
    border-spacing:5px;*/
    padding: 0px;
    margin-bottom: 5px;
}

.contenedorSelectorFechaLiveScore {
    text-align: center;
    display:table-cell;
    width: 83px;
}

.contenedorCajaCentralLiveScore {
    text-align: center;
    display:table-cell;
}

.cajasLiveScore {
    background: #404040;
    background: linear-gradient(180deg, #2C2C2C 0%, rgba(96, 96, 96, 0) 86.98%), #404040;
    -moz-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.5);
}

.cajasPartidosHoy {
    text-align: left;
    font-family: Dosis;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    font-size: 12px;
    /* line-height: 18px; */
    text-transform: uppercase;
}

.selectorFechaLiveScore {
    width: 77px;
    height: 35px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.5) !important;
    text-decoration: none !important;
}
.selectorFechaLiveScoreIzquierda {
    float: left;
    padding-right: 5px;
}
.selectorFechaLiveScoreDerecha {
    float: right;
    padding-left: 5px;
}
.cajaCentralLiveScore {
    float: left;
    width: 100%;
    height: 35px;
    line-height: 35px;
    text-transform: uppercase;
}
    .cajaCentralLiveScore a {
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
    }
.selectorFechaLiveScore:hover {
    color: rgba(255, 255, 255, 0.5);
    text-decoration: none;
}

#contenedorBotonesFiltroLivescore {
    padding: 0px;
}

.botonFiltroLivescore {
    float: left;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px;
    background: #404040;
    background: linear-gradient(180deg, #2C2C2C 0%, rgba(96, 96, 96, 0) 86.98%), #404040;
    opacity: 0.7;
    -moz-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    margin-right: 5px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    text-transform: capitalize;
    color: #AFAFAF !important;
    text-decoration: none !important;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
}
.botonFiltroLivescore:hover {
    text-decoration: none;
    color: #AFAFAF;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.botonFiltroLivescore.activa {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

.botonFiltroLivescore .nPartidos {
    color: #FFFFFF;
}

.fechaActualizado {
    height: 29px;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 29px;
    text-align: right;
    color: #979797;
}

/* ASIDES */
#asideIzquierda {
    width: 315px;
}
    #asideIzquierda > div {
        padding-left: 0px;
    }

#asideDerecha {
    width: 315px;
}

    #asideDerecha > div {
        padding: 0px 0px 0px 15px;
    }

/* FIN ASIDES */

/* INICIO CONTENIDO DERECHA */
#contenedorIconosDerecha {
    float: left;
    width: 100%;
    margin-bottom: 20px;
}
    #contenedorGooglePlay {
        float: right;
        width: 132px;
        text-align: left;
    }
    #contenedorTwitter {
        float: left;
        width: 160px;
    }

    .botonTwitter {
        float: left;
        width: 40px;
        height: 40px;
        background: #03A9F4;
        color: #FFFFFF;
        border-radius: 5px 5px 5px 5px;
        -moz-border-radius: 5px 5px 5px 5px;
        -webkit-border-radius: 5px 5px 5px 5px;
        color: #FFFFFF !important;
        text-decoration: none !important;
    }
        .iconoTwitter {
            float: left;
            height: 40px;
            line-height: 40px;
            margin-left: 9px;
        }
        .textoTwitter {
            font-size: 12px;
            height: 40px;
            line-height: 40px;
        }


#textoLegalbet {
    float: left;
    color: #A0A0A0;
    margin-bottom: 20px;
}
    #textoLegalbet a {
        color: #000000;
    }

#contenedorBannerFootersGrande {
    float: left;
    width: 100%;
}
/* FIN CONTENIDO DERECHA */

/* CENTRO PORTADA */
.cabeceraTorneo {
    float: left;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 10px;
}
    .cabeceraTorneo .nombreTorneo {
        float:left;
        margin-right: 18px;
    }

    .cabeceraTorneo .nombreTorneo .tname {
        font-weight: 500;
        font-size: 13px;
        text-transform: uppercase;
        margin: 0px;
        line-height: 20px;
        min-height: 20px;
    }

    .cabeceraTorneo .bandera {
        float:left;
        width:40px;
        height: 20px;
        top: 0px;
    }

.cajaGlobalPartidos {
    float: left;
    width: 100%;
    background: #F4F2F2;
    padding: 0px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    -moz-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
}

    .cajaGlobalPartidos .cajaPartido {

    }

    .cajaGlobalPartidos .cajaPartido .contenedorPrimeraLinea {
        float: left;
        width: 100%;
        padding: 0px;
    }

    .cajaGlobalPartidos .cajaPartido .contenedorPrimeraLinea .timeresult {
        font-size: 14px !important;
        font-weight: 500;
    }

    .cajaGlobalPartidos .cajaPartido .horaPrevistaPartido {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        color: #ACACAC;
    }

    .cajaGlobalPartidos .cajaPartido  .contenedorIconosPartido {
        text-align: right;
    }

    .cajaGlobalPartidos .cajaPartido  .contenedorIconosPartido a {
        text-decoration: none !important;
        vertical-align: bottom;
        text-align: center;
        padding: 0px 1px;
    }

    .cajaGlobalPartidos .cajaPartido .simboloMasPartido {
        cursor:pointer;
    }

    .cajaGlobalPartidos .cajaPartido .nombreJornada {
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        text-align: center;
        text-transform: capitalize;
        color: #ACACAC;
    }

    .cajaGlobalPartidos .cajaPartido .horaPartido {
        color: #434343;
        font-size: 14px;
        line-height: 29px;
        width: 43px;
        height: 29px;
        background: #E8E8E8;
        border-radius: 3px 3px 3px 3px;
        -moz-border-radius: 3px 3px 3px 3px;
        -webkit-border-radius: 3px 3px 3px 3px;
        text-align: center;
        margin: 0 auto;
    }

        .cajaGlobalPartidos .cajaPartido .horaPartido .suspendido,
        .cajaGlobalPartidos .cajaPartido .horaPartido .aplazado {
            font-size: 12px;
            color: #E81346;
        }

    .cajaGlobalPartidos .cajaPartido .equipoPartido {
        padding-left: 0px;
        padding-right: 0px;
    }

    .cajaGlobalPartidos .cajaPartido .equipoPartido p span {
        height: 40px;
        font-size: 17px;
        line-height: 40px;
        color: #2F2F2F;
        font-weight: bold;
        cursor: pointer;
    }

    .cajaGlobalPartidos .cajaPartido .equipoPartidoLocal p span {
        float: left;
        width: 100%;
        text-align: right;
    }

    .cajaGlobalPartidos .cajaPartido .equipoPartidoVisitante p span {
        float: left;
        width: 100%;
        text-align: left;
    }

    .cajaGlobalPartidos .cajaPartido .resultadoPartido {
        height: 40px;
        font-size: 22px;
        line-height: 40px;
        color: #2F2F2F;
        text-align: center;
        font-weight: bold;
        padding-left: 0px;
        padding-right: 0px;
    }

    @media screen and (max-width: 768px) {
        .cajaGlobalPartidos .cajaPartido .equipoPartido p span {
            font-size: 14px;
            line-height: 20px;
        }
        .cajaGlobalPartidos .cajaPartido .equipoPartido {
            padding-left: 0px;
            padding-right: 0px;
        }
        .cajaGlobalPartidos .cajaPartido .resultadoPartido {
            font-size: 18px;
            line-height: 20px;
            padding-left: 0px;
            padding-right: 0px;
        }
    }

    .cajaGlobalPartidos .cajaPartido .textoIda {
        font-size: 11px;
        color: #434343;
        text-align: center;
        margin-top: 10px;
    }

    .cajaGlobalPartidos .cajaPartido .enlacesDeInteres {
        background: #EFEFEF;
        padding-bottom: 30px;
    }

        .cajaGlobalPartidos .cajaPartido .enlacesDeInteres > h4 {
            font-family: Dosis;
            font-style: normal;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            text-align: center;
            color: #ACACAC;
            margin-bottom: 30px;
        }

        .cajaGlobalPartidos .cajaPartido .enlacesDeInteres .enlacesDeInteresColumnaCampeonato {
            font-size: 15px;
            color: #585858;
        }
            .cajaGlobalPartidos .cajaPartido .enlacesDeInteres .enlacesDeInteresColumnaCampeonato h5 {
                color: #585858;
                margin: 0px;
                margin-bottom: 5px;
            }
            .cajaGlobalPartidos .cajaPartido .enlacesDeInteres .enlacesDeInteresColumnaCampeonato a {
                color: #585858;
                font-size: 13px;
            }

        .cajaGlobalPartidos .cajaPartido .enlacesDeInteres .enlacesDeInteresColumnaEquipo {

        }
            .cajaGlobalPartidos .cajaPartido .enlacesDeInteres .enlacesDeInteresColumnaEquipo h6 {
                font-size: 15px;
                color: #939393;
                margin: 0px;
                margin-bottom: 5px;
            }
            .cajaGlobalPartidos .cajaPartido .enlacesDeInteres .enlacesDeInteresColumnaEquipo a {
                font-size: 13px;
                color: #939393;
            }

.cajaGlobalPartidos.partidosEnJuego {
    background: #404040;
    background: linear-gradient(180deg, #6A6A6A 0%, rgba(64, 64, 64, 0) 100%), #404040;
}
    .cajaGlobalPartidos.partidosEnJuego .cajaPartido .equipoPartido p span {
        color: #FFFFFF;
    }

    .cajaGlobalPartidos.partidosEnJuego .cajaPartido .resultadoPartido {
        color: #FFFFFF;
    }

    .cajaGlobalPartidos.partidosEnJuego .cajaPartido .horaPrevistaPartido {
        color: #FFFFFF;
    }


    .cajaGlobalPartidos.partidosEnJuego .cajaPartido .observacionesGoles {
        color: #dedede;
    }

    .cajaGlobalPartidos.partidosEnJuego .cajaPartido .observaciones {
        color: #dedede;
    }

    .cajaGlobalPartidos.partidosEnJuego .cajaPartido .observacionesGoles {
        color: #dedede;
    }

    .cajaGlobalPartidos.partidosEnJuego .cajaPartido .observacionesGoles a {
        color: #dedede;
    }

.observacionesGoles, .observacionesGoles a {
    font-size: 15px;
    color: #838383;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
}
@media (min-width:300px) and (max-width:700px) {
    .observacionesGoles, .observacionesGoles a {
        font-size: 13px;
    }
}

/* TEMPORADA */
#menuTorneo li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

#menuTorneo li a {
    background: #C8C8C8;
    opacity: 0.7;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: #727272;
    border: none;
    font-size: 13px;
}

#menuTorneo li a:hover, #menuTorneo li.activa a {
    background: linear-gradient(180deg, #2C2C2C 0%, rgba(96, 96, 96, 0) 86.98%), #404040;
    color: #C5C5C5;
}

.menuListGrises li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    list-style: none;
}

.menuListGrises li a {
    background: #C8C8C8;
    opacity: 0.7;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: #727272;
    border: none;
    font-size: 13px;
}

.menuListGrises li a:hover, .menuListGrises li.activa a {
    background: linear-gradient(180deg, #2C2C2C 0%, rgba(96, 96, 96, 0) 86.98%), #404040;
    color: #C5C5C5;
}

#menuCategorias li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    list-style: none;
}

#menuCategorias li a {
    background: #8AE813;
    opacity: 0.7;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: #333333;
    border: none;
    font-size: 13px;
    font-weight: bold;
}

#menuCategorias li a:hover, #menuCategorias li.activa a {
    background: #FFFFFF;
    color: #000000;
}


.menuTorneosCategoria .enlaceTorneo {
    float:left;
    width: 100%;
    padding: 2px 0px;
    color: #333333;
}

.menuTorneosCategoria .enlaceTorneo:hover {
    color: #8AE813;
    text-decoration: underline;
}

#menuOpcionesClasificacion {
    margin-top: 50px;
    margin-bottom: 10px;
}

#menuOpcionesClasificacion li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
    list-style: none;
}

#menuOpcionesClasificacion .btn {
    opacity: 0.7;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    border: none;
    background: linear-gradient(180deg, #2C2C2C 0%, rgba(96, 96, 96, 0) 86.98%), #404040;
    color: #C5C5C5;
    margin-bottom: 5px;
    font-size: 14px;
}

#menuOpcionesClasificacion .btn:hover, #menuOpcionesClasificacion .btn.activa {
    background: #C8C8C8;
    color: #727272;
}

.nombreDiaPartido {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;

    margin-top: 30px;
    margin-bottom: 5px;
}

.equipoDescansa {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    text-transform: uppercase;

    margin-top: 20px;
    margin-bottom: 20px;

    text-align: center;
}

#contenedor-jornada-clasificacion {
    padding: 0px;
}

#topLaTabla {
    width: 100%;
    height: 5px;
    background: #4A4A4A;

    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
#bottomLaTabla {
    width: 100%;
    height: 5px;
    background: #FFFFFF;

    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;

    margin-bottom: 15px;
}
#bottomLaTabla.fila-par {
    background: #F8F8F8;
}
#latabla {
    color: #434343;
    font-weight: 300 !important;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    font-size: 15px !important;
    margin-bottom: 0px !important;
}
#latabla tr {
    border: none !important;
}
#latabla thead {
    background: #4A4A4A;
    color: #FFFFFF;
}
#latabla th {
    padding: 1px;
    font-weight: 300 !important;
    border: none !important;
}
#latabla td {
    padding: 1px;
    height: 31px;
    line-height: 31px;
    font-weight: 300 !important;
    border: none !important;
    overflow: hidden;
    white-space: nowrap; /* Don't forget this one */
    text-overflow: ellipsis;
}
#latabla .fila-par {
    background: #F8F8F8;
}

#latabla .fila-impar {
    background: #FFFFFF;
}

#latabla a {
    color: #434343;
}

#latabla strong {
    font-weight: 500 !important;
}

#latabla td.celda-posicion {
    font-weight: 500 !important;
    width: 40px;
    padding-left: 10px;
}

.contenedorLeyendaClasificacion {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 27px;

    text-transform: capitalize;
}

.contenedorExplicacionMasInfoClasifiacion {
    font-family: Roboto;
    font-style: italic;
    font-weight: 300;
    font-size: 11px;
    text-align: right;
    color: #A8A2A2;
}

.contenedorClasificacionesGenerales {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}

.contenedorClasificacionesGenerales h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.contenedorClasificacionesGenerales a {
    font-family: Roboto;
    color: #434343;
    font-size: 15px;
    font-weight: 500;
    text-decoration: underline;
}

.contenedorActualidadEnTwitter {
    padding-top: 20px;
}

.contenedorActualidadEnTwitter h4.contenedorActualidadEnTwitterTitulo {
    color: #03A9F4;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.contenidoActualidadEnTwitter {
    background: #D3ECF1;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin-bottom: 100px;
}

.filaEquipoTwitter .filaEquipoTwitterContenedorNombreEquipo {
    margin-top: 40px;
    margin-bottom: 20px;
}
.filaEquipoTwitter .filaEquipoTwitterContenedorNombreEquipo a {
    text-decoration-color: #2F2F2F;
}

.filaEquipoTwitter .contenedorLateralTwitterEquipo {

}
.filaEquipoTwitter .twitterContenedorEscudoEquipo {
    float: left;
    width: 100%;
    max-width: 100px;
    background: #FFFFFF;
    text-align: center;
    padding: 10px 0px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 20px;
}
.filaEquipoTwitter .escudo_ind {
    width: 75px;
}

.contenidoActualidadEnTwitter .nombreEquipoTwitter {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 17px;
    line-height: 20px;
    text-transform: capitalize;
    color: #2F2F2F;
}

.contenidoActualidadEnTwitter .filaMensajeTwitter {
    color: #434F4F;
    border-bottom: 1px solid rgba(7, 7, 7, 0.1);
    padding-bottom: 20px;
    margin-bottom: 20px;
    font-size: 15px;
}

.contenidoActualidadEnTwitter .row:last-child .filaMensajeTwitter {
    border-bottom: none;
}

.contenidoActualidadEnTwitter .horaPublicacionTwitter {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    color: #03A9F4;
}

.contenidoActualidadEnTwitter .filaMensajeTwitter a {
    color: #03A9F4;
    font-weight: bold;
    text-decoration: underline;
}

#contenedorLateralEquipos {
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 25px;
}

#contenedorLateralEquipos div[class^='col-'] {
    padding: 0px !important;
}

.filaLateralEquiposEquipo {
    padding-bottom: 20px;
}

.filaLateralEquiposEquipo:first-child {
    padding-top: 20px;
}

.filaLateralEquiposEquipoContenedorDatosEquipo {
    margin-top: 10px !important;
}

#contenedorLateralEquipos .equiposLateralNombreEquipo, #contenedorLateralEquipos .equiposLateralNombreEquipo a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 2px;
}

#contenedorLateralEquipos .contenedorLateralEquiposEscudo {
    margin: 10px 0px 0px 5px;
    width: 100%;
    max-width: 50px;
    max-height: 60px;
}

#contenedorLateralEquipos .contenedorLateralEquiposEquipacion {
    margin: 10px 0px 0px 0px;
    width: 45px;
    text-align: center;
    max-height: 60px;
}

.filaLateralEquiposEquipoContenedorAnadirAMiFutbolme {
    margin-top: 5px;
}

.contenedorLateralEquiposLocalidadProvincia {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    margin-bottom: 5px;
}

.contenedorLateralEquiposLocalidadProvincia a {
    color: #000000;
}

.filaLateralEquiposEquipoSeparador {
    width: 67%;
    border-bottom: 1px solid #E6E6E6;
    margin: 0 auto;
    margin-top: 20px;
}

#selector-jornadas {
    font-family: Dosis;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    display: table;
    width: 100%;
    /*border-collapse:separate;
    border-spacing:5px;*/
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
    margin-top: 10px;
}

#selector-jornadas .cajaCentralLiveScore button {
    color: rgba(255, 255, 255, 0.5) !important;
    text-transform: uppercase;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;
    margin-top: -5px;
    font-weight: 600;
    font-size: 14px;
}

#selector-jornadas .cajaCentralLiveScore .dropdown-menu {
    background: #525252;
    color: rgba(255, 255, 255, 0.5);
}

#selector-jornadas .cajaCentralLiveScore .dropdown-menu .opcionJornada {
    float:left;
    min-width:40px;
    height:40px;
    font-size:20px;
}

#cabeceraTorneo {

}

#cabeceraTorneo h1 {
    font-family: Dosis;
    font-style: normal;
    font-weight: bold;
    font-size: 27px;
    line-height: 34px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

#cabeceraTorneo .contenedorBandera {
    position: absolute;
    top: 8px;
    right: 10px;
}

#cabeceraTorneo .contenedorDescripcionTorneo {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: #434343;
}

#goleadores {
    color: #252525;
}

#goleadores a {
    color: #252525;
}

.contenedorTitularTorneoCalendario h4 {
    text-transform: uppercase;
    font-size: 18px !important;
    margin-top: 15px;
}


/* PARTIDOS TELEVISADOS */
body.partidosTelevisados .dropdown-menu {
    margin-left: 0px !important;
    top: auto !important;
    left: auto !important;
    transform: none !important;
}

.contenedorGlobalSelectorFiltroTv {
    padding-top: 15px;
    padding-bottom: 15px;
}

#listadoCanalesTelevisados {
    /*display: none;*/
    padding: 0px;
}

body.partidosTelevisados #listadoCanalesTelevisados {
    margin-top: 15px;
}

#botonFiltroTv {
    float: right;
}

#listadoCanalesTelevisados li {
    list-style: none;
}

body.partidosTelevisados .filtro-tv-xs {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    min-height: 80px;
    text-align: center;
}

body.partidosTelevisados .filtro-tv-xs:first-child {
    font-weight: bold;
    height: 40px;
}

body.partidosTelevisados .separadorOpcionesFiltroTV {
    width: 67%;
    border-bottom: 1px solid #E6E6E6;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

body.partidosTelevisados .nombreTemporada {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
}

#contenedorBotonFiltroTv {
    padding: 0px !important;
}

body.partidosTelevisados .contenedorNombreDia h4 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
}

body.partidosTelevisados .separadorCajasFechas {
    width: 67%;
    border-bottom: 1px solid #2F2F2F;
    margin: 0 auto;
    margin-top: 80px;
    margin-bottom: 80px;
}

#contenedorBotonFiltroTv {
    margin-bottom: 10px;
}

body.partidosTelevisados .contenedorIconosTv {

}

body.partidosTelevisados .contenedorIconosTv a {
    color: #2F2F2F;
    text-decoration: underline;
}

/* EQUIPO */
#menuEquipo li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

#menuEquipo li a {
    background: #C8C8C8;
    opacity: 0.7;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: #727272;
    border: none;
    font-size: 13px;
}

#menuEquipo li a:hover, #menuEquipo li.activa a {
    background: linear-gradient(180deg, #2C2C2C 0%, rgba(96, 96, 96, 0) 86.98%), #404040;
    color: #C5C5C5;
}

#contenedorSuperiorEquipo {
    padding-top: 20px;
    padding-bottom: 20px;
}

#contenedorSuperiorEquipo h1 {
    text-align: left;
}
#contenedorSuperiorEquipo h2.subtitulo {
    text-align: left;
    font-weight: 600;
}

#menuEquipoTorneos li {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

#menuEquipoTorneos li a {
    background: #C8C8C8;
    opacity: 0.7;
    box-shadow: 0px 4px 34px rgba(0, 0, 0, 0.06);
    border-radius: 4px;
    color: #727272;
    border: none;
    font-size: 13px;
}

#menuEquipoTorneos li a:hover, #menuEquipoTorneos li.activa a {
    background: linear-gradient(180deg, #2C2C2C 0%, rgba(96, 96, 96, 0) 86.98%), #404040;
    color: #C5C5C5;
}

.nombreTorneoCalendario a {
    font-family: Dosis;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 15px;
    text-align: left;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: -10px;
    color: #2F2F2F;
}


/* PARTIDOS SUELTOS */
.boxpartido p{margin-top:2px;margin-bottom:0;}
.blackbox{color:white !important;background:black;}
.reboxL{background:black;border-radius:6px;font-weight:700;font-size:1.4em;color:white;font-family:"Open Sans", sans-serif;color:white !important;padding:1px 5px;margin-left:4px;margin-right:0;height:28px;text-align:center;width:42%;}
.reboxR{background:black;border-radius:6px;font-weight:700;font-size:1.4em;color:white;font-family:"Open Sans", sans-serif;color:white !important;padding:1px 5px;margin-left:0;margin-right:4px;height:28px;text-align:center;width:42%;}
@media (min-width:300px) and (max-width:700px){.reboxL{border-radius:4px;font-size:1.1em;width:40%;margin-left:2px;margin-right:2px;height:23px;}
    .reboxR{border-radius:4px;font-size:1.1em;width:40%;margin-left:2px;margin-right:2px;height:23px;}
}




.parpadea{animation-name:parpadeo;animation-duration:1s;animation-timing-function:linear;animation-iteration-count:60;-webkit-animation-name:parpadeo;-webkit-animation-duration:1s;-webkit-animation-timing-function:linear;-webkit-animation-iteration-count:60;}
@-moz-keyframes parpadeo{0%{opacity:1.0;}
    25%{opacity:1.0;}
    50%{opacity:0.0;}
    75%{opacity:1.0;}
    100%{opacity:1.0;}
}
@-webkit-keyframes parpadeo{0%{opacity:1.0;}
    25%{opacity:1.0;}
    50%{opacity:0.0;}
    75%{opacity:1.0;}
    100%{opacity:1.0;}
}
@keyframes parpadeo{0%{opacity:1.0;}
    25%{opacity:1.0;}
    50%{opacity:0.0;}
    75%{opacity:1.0;}
    100%{opacity:1.0;}
}


#NotificacionesFinales {
    width: 250px;
    position: absolute;
    left: 10px;
    top: 45px;
    overflow: hidden;
    display: inline !important;
    z-index: 19999999;
}

#contenedorIconosDerecha {float: none !important;}

