{% extends 'base.html.twig' %}

{% block contenedorIzquierda %}

    {% include '__part/ultimosEventos.html.twig' %}

{% endblock %}

{% block contenedorCentral %}

    <div class="col-12 contenedorBlancoBordesRedondeados">
        <h1>Aviso Legal</h1>

        <strong>Protección de datos personales</strong><br>
        www.futbolme.com, es un dominio en Internet de titularidad de APLICACIONES Y PROGRAMACION DE BASES DE DATOS, S.L.U. con NIF B97657324, Urb. Pla de les Clotxes, 206. CP 46450 Benifaió (Valencia), Sociedad Inscrita en el Registro Mercantil de Valencia: Libro 5594, Tomo 8303, Folio 57, Hoja V-108744, Inscripción 2ª. Email de contacto <strong>futbolme@futbolme.net</strong><br><br>

        <strong>No se obtiene ningún tipo de datos personales</strong><br>
        APLICACIONES Y PROGRAMACION DE BASES DE DATOS, S.L.U. y su portal de FUTBOLME.COM no obtiene ningún tipo de datos personales mediante ningún procedimiento. Basa su información respecto al usuario mediante cookies y tokens proporcionadas por el dispositivo de acceso. Para cualquier información al respecto pueden utilizar el email de contacto <strong>futbolme@futbolme.net</strong><br><br>

        <strong>Cookies</strong><br>
        www.futbolme.com guarda una cookie para facilitar la información al usuario. Esta cookie no es nociva ni puede dañar su equipo.<br><br>

        <strong>Tokens</strong><br>
        www.futbolme.com guarda una token para facilitar la información al usuario. Esta token es proporcionado por el dispositivo móvil cuando se accede mediante la APP de futbolme.com<br><br>

        <strong>Propiedad intelectual</strong><br>
        Futbolme es una marca registrada y esta prohibida la utilización total o parcial de logos, diseños y textos, así como la copia, reproducción, adaptación  o cualquier acción que utilice contenidos del portal sin la previa aprobación de Futbolme.<br><br>

        <strong>Enlaces de terceros y banners publicitarios</strong><br>

        Entre los contenidos del portal www.futbolme.com se incluyen banners publicitarios y enlaces a Webs externas, gestionadas por terceros.  APLICACIONES Y PROGRAMACION DE BASES DE DATOS, S.L.U. no se responsabiliza del los enlaces a terceros, contenido de los mismos ni ningún servicio prestado en dichos enlaces externos.<br><br>

        <strong>Exención de responsabilidad de APLICACIONES Y PROGRAMACION DE BASES DE DATOS, S.L.U.</strong><br>
        APLICACIONES Y PROGRAMACION DE BASES DE DATOS, S.L.U. en ningún caso sera responsable de las circunstancias que que seguidamente se mencionan:<br>
        1) Posibles errores de seguridad que se pueda producir por el hecho de utilizar sistemas informáticos infectados por virus.<br>
        2) Infracciones del derecho de propiedad industrial e intelectual por parte de terceros.<br>
        3) Defectos en los servicios o errores en el contenido de la Web de www.futbolme.com<br>

        4) No funcionamiento de la Web o algunos de los servicios<br>
        5) Problemas causados por el mal funcionamiento del navegador Web usado por el visitante o por el uso de versiones no actualizadas de este.

        <br><br>
        <strong>ENLACES DE AFILIACIÓN DE AMAZON</strong>
        <br>
        Este sitio web, de acuerdo a su finalidad, utiliza enlaces de afiliado de Amazon.

        Esto quiere decir que encontrarás enlaces de productos de Amazon a los que podrás acceder directamente desde nuestro sitio web pero que, en su caso, la compra la realizarás en Amazon, bajo sus propias condiciones en ese momento.
    </div>

{% endblock %}

{% block bloqueJs %}

{% endblock %}

{% block contenedorDerecha %}

{% endblock %}