<!-- Left ads rotation -->
<div id="cl_beforeQuoteM">
    <script type="text/javascript">
        ClickioRotator_left.install(
            '#cl_left',
            {
                'clickio':   [
                    [
                        'html',   "<scr" + "ipt async type='text/javascript' src='//s.clickiocdn.com/t/216325/360_light.js'><\/scr" + "ipt>" +
                                  "<scr" + "ipt class='__lxGc__' type='text/javascript'>" +
                                  "((__lxGc__=window.__lxGc__||{'s':{},'b':0})['s']['_216325']=__lxGc__['s']['_216325']||{'b':{}})['b']['_676583']={'i':__lxGc__.b++};" +
                                  "<\/scr" + "ipt>"
                    ]
                ],
                'adsense':   [
                    [
                        'html',   '<ins class="adsbygoogle"' + 
                                  'style="display:block"' +
                                  'data-ad-client="ca-pub-2316935358389492"' +
                                  'data-ad-slot="5024214864"' +
                                  'data-ad-format="auto"' +
                                  'data-full-width-responsive="true"></ins>' +
                                  '<scr' + 'ipt>' +
                                  '(adsbygoogle = window.adsbygoogle || []).push({});' +
                                  '</scr' + 'ipt>'
                    ]
                ]
            }
        );
    </script>
</div>