<div class="contenedorBlancoBordesRedondeados col-12" style="clear:both">
<h1>CUATRO PLAZAS EN JUEGO PARA EL CAMPEONATO DE EUROPA 2021</h1>
<p>
Este jueves terminará de confeccionarse el listado de los participantes en el próximo <a href="https://futbolme.com/resultados-directo/torneo/campeonato-europeo-de-la-uefa-/238/">Campeonato de Europa</a>, que tendría que haberse disputado el pasado verano y que fue aplazado hasta 2021, por las circunstancias ya más que sabidas de la pandemia del COVID-19. Ocho escuadras tratarán de conseguir los últimos cuatro billetes en juego. </p>

<p>Una oportunidad de oro para selecciones de un nivel medio, que normalmente no suelen estar presentes en estas citas, pero que gracias a la repesca introducida por UEFA, van a poder saborear las sensaciones de una gran competición, como es el caso de quien venza en el <b>Georgia-Macedonia del Norte</b>, que debutará en una fase final. Seguramente el partido más interesante para el aficionado español sea el que jueguen en Belfast, <b>Irlanda del Norte ante Eslovaquia</b>, y es que quien se imponga ahí, formará parte del <b>grupo E</b>, en el que ya esperan <b>España, Suecia y Polonia</b>.</p>

<p>
<b>Serbia-Escocia</b> y <b>Hungría-Islandia</b> son las otras dos eliminatorias a celebrar.
</p><hr />
</div>