
<div class="contenedorBlancoBordesRedondeados col-12" style="clear:both">
<h1>ESPAÑA-FEROE, LA SUB 21 A SEGUIR ESTANDO INVICTA EN LA FASE CLASIFICATORIA</h1>
<p>
Partido de trámite el que le espera esta tarde (19.00) a la selección española sub-21, que recibirá en el Municipal Antonio Lorenzo Cuevas de Marbella, a las Islas Feroe. Los de Luis de la Fuente disputarán el penúltimo choque de una fase clasificatoria que han dominado con mano de hierro, ganando siete de los ocho partidos jugados y habiendo cedido solo un empate en Israel, lo que les ha permitido estar clasificados matemáticamente para la fase de grupos de este <a href="https://futbolme.eu/resultados-directo/torneo/campeonato-europeo-sub-21-de-la-uefa/290/">Europeo Sub-21</a> que tendrá lugar en marzo de 2021.</p>

<p>
<a href="https://futbolme.eu/resultados-directo/equipo/espana/11636/calendario">España</a> se medirá a un combinado nórdico que es el colista del <a href="https://futbolme.eu/resultados-directo/torneo/campeonato-europeo-sub-21-de-la-uefa/290/jornada/6/grupo/11">grupo 6</a>, y al que ya venció en la primera vuelta, aunque con más apuros de los previstos, 0-2, gracias a un doblete del futbolista del Milan, Brahim Díaz, ambas dianas en la segunda mitad.</p>
</div>

