<div class="contenedorBlancoBordesRedondeados col-12" style="clear:both">
<h1>VUELVE LA ACTIVIDAD A LOS 18 GRUPOS DE TERCERA DIVISIÓN</h1>
<p>
Tras unas semanas detenida la Tercera División en Asturias, Cantabria y Aragón, estas tres comunidades se unen al resto, que se seguían desarrollándose con mayor o menor normalidad y sus respectivos Gobiernos han dado luz verde para que pueda volver a jugarse.</p>

<p>En el caso de asturianos y aragoneses, han sido tres las semanas sin liga, mientras que el recorte cántabro se ha limitado a los últimos quince días.</p>

<p>Ahora tocará recuperar el tiempo perdido en días festivos, puentes o entre semana, por lo que jugadores que en su gran mayoría no son profesionales, apenas si van a poder tener días libres.</p>

<p>Ojalá que lo resta de campaña, tanto en Tercera como en el resto de divisiones, pueda ir celebrándose sin contratiempos, o con los menos posibles, que tal y como están las cosas, sería algo que firmaríamos todos.</p>
<hr />
