<div class="contenedorBlancoBordesRedondeados col-12" style="clear:both">
<h1>GRUPOS DEL CAMPEONATO DE EUROPA 2021</h1>
<p>
Una vez finalizada la repesca, así quedan configurados los grupos de la próxima edición del Campeonato de Europa, a celebrar del 11 de junio al 11 de julio del próximo año en diversas sedes:</p>
<p>
<b>Grupo A:</b> Turquía, Italia, Gales y Suiza

<b>Grupo B:</b> Dinamarca, Finlandia, Bélgica y Rusia

<b>Grupo C:</b> Países Bajos, Ucrania, Austria y Macedonia del Norte

<b>Grupo D:</b> Inglaterra, Croacia, Escocia y Chequia

<b>Grupo E:</b> España, Suecia, Polonia y Eslovaquia

<b>Grupo F:</b> Hungría, Portugal, Francia y Alemania
</p>
<hr />
</div>