<div class="contenedorBlancoBordesRedondeados col-12" style="clear:both">
<h1>LA SEGUNDA DIVISIÓN B AFRONTA UNA JORNADA A MEDIO GAS</h1>
<p>
Semana atípica en el de momento tercer peldaño de nuestro balompié. Solo dos grupos, aquellos que acogen a once equipos, el 2A y el 3A, saltarán al verde. El resto tendrá jornada de descanso, aunque estas fechas libres van a ser aprovechadas para recuperar partidos que la maldita pandemia ha ido dejando por el camino. Poco a poco vamos camino de que todos los conjuntos tengan el mismo número de partidos en su casillero, en una temporada que va a ser complicada a todos los niveles hasta su finalización.</p>

<p>Si no hay complicaciones de aquí al fin de semana, éstos serán los aplazados que se jueguen:</p>

Ebro-SD Logroñés sábado (12.00)
Real Valladolid Promesas-Covadonga sábado (15.30)
Burgos-Langreo sábado (17.00)
Don Benito-Extremadura sábado (20.00)

Tarazona-Osasuna B domingo (12.00)
Rayo Majadahonda-Real Madrid Castilla domingo (12.00)
Alcoyano-Hércules domingo (17.00)
Real Murcia-Recreativo Granada domingo (17.00)
<hr />
</div>
