<div class="contenedorBlancoBordesRedondeados col-12" style="clear:both">
<h1>REAL ZARAGOZA-REAL OVIEDO: DOS HISTÓRICOS QUE QUIEREN ALZAR EL VUELO</h1>
<p>
El duodécimo episodio de LaLiga Smartbank (Segunda División) tendrá su arranque el viernes (21.00, Gol y Movistar La Liga) cuando en La Romareda se enfrenten el Real Zaragoza y el Real Oviedo. Un partido de esos que suenan bien, con aroma añejo a Primera, pero en el que ambos se están encontrando con la cruda realidad de no poder abandonar una división de plata que está siendo un jeroglífico ante el que no hallan la respuesta.</p>

<p>
Los maños cumplen su octava campaña seguida intentando reverdecer laureles, y el inicio de la misma no está pudiendo ser más desalentador. Solo han llegado dos alegrías en forma de triunfo, y una de ellas lo fue por el error del bulto del Alcorcón, al cometer alineación indebida. Lo demás, empates y derrotas, y lo que es peor, un juego ramplón por los cuatro costados. Ante tal situación, se tomó la decisión habitual, y el entrenador fue despedido, buscando la directiva que quien venga dé un volantazo radical a un rumbo que se estaba volviendo peligroso. Rubén Baraja ya es historia a orillas del Ebro, y al igual que muchos de sus predecesores, no será él quien obtenga el soñado pase al paraíso. La llave de la nave pasa a poseerla Iván Martínez, entrenador de la casa, que empezó el curso con el filial, el Deportivo Aragón, y que en su etapa juvenil logró hacer historia con los blanquillos, al ganar el grupo tercero de la División de Honor y posteriormente hacerse con la Copa de Campeones tras ganar por penaltis al Villarreal.</p>

<p>
En el Principado tampoco estaban para tirar cohetes, al menos hasta hace dos semanas. Otro proyecto ambicioso que no termina de tener éxito. El puesto del Cuco Ziganda también pendía de un hilo, pero lo que mandan son los resultados, y los últimos han sido excelentes, venciendo 1-2 en el Gran Canaria de Las Palmas y convenciendo con un rotundo 4-0 al Castellón, por lo que aquél espigado delantero de los años 90 de Osasuna y Athletic, ha tomado un necesario oxígeno. Ahora toca intentar buscar sumar de tres por tercera vez consecutiva, lo que acercaría a los carbayones a la zona tranquila de la tabla clasificatoria.</p>

<p>
Curiosidades de la vida, Ziganda entrenó al debutante Iván Martínez cuando ambos estaban en el filial de Osasuna. Ahora toca un nuevo pulso entre ellos, aunque desde el mismo lugar, el banquillo.</p>
<hr />
</div>
