{% extends 'base.html.twig' %}


{% block contenedorIzquierda %}

    {% include '__part/ultimosEventos.html.twig' %}

{% endblock %}

{% block contenedorCentral %}
    <div class="col-12 contenedorBlancoBordesRedondeadosConPadding">
        <div class="row">
            <div class="col-12">
                <h1>Historico</h1>
            </div>

            <div class="col-12">
                <p>
                    Estamos reestructurando los datos de historico, muy pronto tendremos esta sección de vuelta.
                </p>
            </div>
        </div>
    </div>

{% endblock %}

{% block bloqueJs %}



{% endblock %}



{% block contenedorDerecha %}


{% endblock %}