{% extends "base_template/universal-panel.html.twig" %}
{% block title %}Admin Dashboard{% endblock %}
{% block mainBody %}
    <div class="row">
        <div class="col-md-4">
            <div class="card bd-primary mg-t-20">
                <div class="card-header bg-primary tx-white">Aaaaa</div>
                <div class="card-body">
                    aaaa
                </div><!-- card-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bd-primary mg-t-20">
                <div class="card-header bg-primary tx-white">Bbbbbb</div>
                <div class="card-body">
                    bbbb
                </div><!-- card-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bd-primary mg-t-20">
                <div class="card-header bg-primary tx-white">Cccc</div>
                <div class="card-body">
                    cccc
                </div><!-- card-body -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card bd-primary mg-t-20">
                <div class="card-header bg-primary tx-white">Ddddd</div>
                <div class="card-body">
                    dddd
                </div><!-- card-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bd-primary mg-t-20">
                <div class="card-header bg-primary tx-white">Eeeee</div>
                <div class="card-body">
                    eeee
                </div><!-- card-body -->
            </div>
        </div>
        <div class="col-md-4">
            <div class="card bd-primary mg-t-20">
                <div class="card-header bg-primary tx-white">Ffffff</div>
                <div class="card-body">
                    fffff
                </div><!-- card-body -->
            </div>
        </div>
    </div>
{% endblock %}